:root {
    --link-hover-color: #2196F3;
    --heading-color: #212121;
    --paragraph-color: #757575;
    --logo-font-family: Raleway, sans-serif;
    --nav-logo-color: #000000;
    --main-section-backgroud-color: #2F303A;
    --main-section-text-color: #FFFFFF;
    --main-section-button-hover: #188CE8;
    --our-team-background-color: #F5F4FA;
    --portfolio-background-color: #EEEEEE;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    background-color: var(--link-hover-color);
    color: var(--main-section-text-color)
}
.button:hover {
    background-color: var(--main-section-button-hover);
}

.logo {
    font-family: var(--logo-font-family);
    color: var(--link-hover-color);
    text-decoration: none;
    line-height: 2,18;
    width:145px; 
    height:31px;
}
.logo-2 {
    color: var(--nav-logo-color);
    width: 145px;
    height: 31px;
}
.logo-3{
    color: var(--main-section-text-color);
    width: 145px;
    height: 31px;
}

.nav-link {
    text-decoration: none;
    color: var(--heading-color);
    line-height: 1.17;
}

.nav-link-current{
    color: var(--link-hover-color);
    text-decoration: none;
}

.contacts a {
    text-decoration: none;
    color: var(--paragraph-color);
    line-height: 1.17;
}
.contacts a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
}

.main-section {
    background-color: var(--main-section-backgroud-color);
    width: 1600px;
    height: 600px;
}
.main-section-head {
    text-decoration: none;
    font-weight: 900;
    line-height: 4.28;
    color:var(--main-section-text-color)
}


.company-qualities {
    width: 270px;
    height: 16px;
    font-weight: 700;
    color: var(--heading-color);
    line-height: 16.41px;
}
.company-qualities-text {
    line-height: 24px;
    width: 270px;
    height: 75px;
    font-weight: 400;
    color: var(--paragraph-color);
}

.section-heading {
    font-weight: 700;
    height: 42px;
    line-height: 42.19px;
}

.our-team-section {
    background-color: var(--our-team-background-color)
}
.team-member-card {
    background-color: var(--main-section-text-color);
}

.team-member-name {
    width: 145px; 
    height: 19px;
    font-weight: 500;
    line-height: 18.75px;
    color: var(--heading-color)

}
.team-member-rank {
    width:130px; 
    height:19px;
    font-weight: 400;
    line-height: 1.33;
    color: var(--paragraph-color);
}

.footer-section {
    width: 1600px; 
    height: 251px;
    background-color: var(--main-section-backgroud-color);
}
.footer-section a{
    text-decoration: none;
}

.address-section{
    font-style: normal;
}
.address a {
    color: var(--main-section-text-color);
    font-weight: 400;
    text-decoration: none;
    line-height: 1.17;
}

.portfolio-button {
    color: var(--heading-color);
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-button:hover,:focus{
    background-color: var(--link-hover-color);
    color: var(--main-section-text-color);
}


.portfolio-section {
    background-color: var(--portfolio-background-color)
}

.portofolio-project-name {
    font-weight: 700;
    line-height: 36px;
    color: var(--heading-color);
}
.portfolio-project-description{
    font-weight: 400;
    line-height: 30px;
    color: var(--paragraph-color);
}